body, html {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: 'Segoe UI', sans-serif; /* <- This applies the font globally */
}

.skills-section {
  text-align: center;
  padding: 0rem 2rem 4rem 2rem;
  padding: 4rem 2rem;
  background-color: #000;
}

.skills-heading {
  font-size: 3rem;
  color: #f5c518;
  margin-top: 0;
  margin-bottom: 3rem;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 2.5rem;
  justify-items: center;
  max-width: 1000px;
  margin: auto;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.skill-item img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  margin-bottom: 1rem;
  filter: drop-shadow(0 0 5px #f5c51855);
}

.skill-item p {
  font-size: 1rem;
  color: white;
}

header {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #f5c518;
}

nav a {
  margin: 0 0.8rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover,
nav a.active {
  color: #f5c518;
}
